.availabilityResponseDialog-doctorDetail {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

#availabilityResponseDialog-appointmentDetailsContainer {
    margin: 20px 0 20px 0;
}